{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">{{ T "emails.otp.heading" }}</div>
<div class="main-text">{{ T "emails.otp.body" }}</div>
<div class="code-container">{{ .Data.OTP.Code }}</div>

<div class="caption content-caption">
{{ T "emails.otp.footer_warning" }}
</div>
{{ end }}