{{ template "base" . }}

{{ define "title" }}{{ T "authorization.securebrowser.title" }}{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
      <h3 class="header">{{ T "authorization.securebrowser.current_browser_is_not_secure" }}</h3>

      {{ if .Data.Client.ApplicationURL }}
        <a href="secureauth://browse?url={{ .Data.Client.ApplicationURL }}" class="submit-button">
          {{ T "authorization.securebrowser.open_a_secure_browser" }}
        </a>
      {{ else }}
        <p class="error-message">{{ T "authorization.securebrowser.client_has_no_application_url_configured" }}</p>
      {{ end }}
  </div>

  {{ template "footer" . }}

{{ end }}
