{{ template "base" . }}

{{ define "title" }}Select organization{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <h3 class="header">Select organization</h3>

    <div class="content" id="main-content">
      <form method="GET" action="{{ .Data.AuthorizeURL }}">
        <input type="hidden" name="login_id" value="{{ .Data.LoginID }}">
        <input type="hidden" name="login_state" value="{{ .Data.LoginState }}">
        <input type="hidden" name="org_selected" value="true">

        <div class="select-content">
          {{ range .Data.Orgs }}
            <button class="href-card" name="organization_id" type="submit" value="{{ .ID }}" title="{{ .Name }}">
              <div>
                <span class="href-card-avatar href-card-avatar-color">{{ substr 0 1 .Name }}</span>
                <span>{{ .Name }}</span>
              </div>
              <i class="material-icons">navigate_next</i>
            </button>
          {{ end }}
        </div>

        <button class="text-button margin-top-24" name="organization_id" type="submit" value="">Continue with my home organization</button>
      </form>
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
