{{ define "consent_rars" }}

<div class="consent-scopes-container">
  {{ range .Data.ServicesWithAuthorizationDetails }}
    <h4>{{ .ServiceName }}</h4>
    <div>
      {{ $data := . }}
      {{ range .AuthorizationDetails }}
        <div class="form-field consent-scope-row">
          <label for="{{ or .Name .Type}}">
            <div class="form-field-checkbox">
              <input type="checkbox" name="authorization-details" value="{{ .Type }}" id="{{ .Type }}" {{ if .GrantAllowed }} checked{{end}} disabled>
                {{ or .Name .Type}}

              {{ if not .GrantAllowed }}
                {{ $msg := T "authorization.consent-rar.consent_rars.additional_verification_required" }}
                {{ template "tooltip" $msg }}
              {{ end }}
            </div>
          </label>

          <button type="button" aria-label="{{ T "authorization.consent-rar.consent_rars.show_authorization_detail_description" }}" data-scope-name="{{ .Type }}" class="scope-desc-toggle" style="display: {{ if and .PayloadAsString (gt (len $data.AuthorizationDetails) 1) }}flex{{else}}none{{end}}">
            <i class="material-icons" data-icon-id="{{ .Type }}"> keyboard_arrow_down</i>
          </button>
        </div>

        {{ if not .GrantAllowed }}
          <div class="{{ if and .PayloadAsString (gt (len $data.AuthorizationDetails) 1) }} non-visible{{end}} mfa-additional-info" data-desc-id="{{ .Type }}-additional-info">
            {{ if .HasRecovery }}
              <div>
                <div>
                  <i class="material-icons" tabindex="-1">error_outline</i>
                  <h5>{{ T "authorization.consent-rar.consent_rars.additional_verification_required" }}</h5>
                </div>
                <button class="submit-button" type="submit" name="verify_authorization_detail" value="{{ .Type }}">
                  {{ T "authorization.consent-rar.consent_rars.verify_now" }}
                </button>
              </div>
              <p>{{ T "authorization.consent-rar.consent_rars.features_limited" }}</p>
            {{ else }}
              <div>
                <div>
                  <i class="material-icons" tabindex="-1">error_outline</i>
                  <h5>{{ T "authorization.consent-rar.consent_rars.access_not_authorized" }}<</h5>
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}

        {{ if .PayloadAsString }}
          <div data-desc-id="{{ .Type }}" class="consent-authorization-detail-description{{ if gt (len $data.AuthorizationDetails) 1 }} non-visible{{end}}">
            <pre>{{ .PayloadAsString }}</pre>
          </div>
        {{ end }}
      {{end}}
    </div>
  {{ end }}
</div>

{{ end }}
