{{ template "base" . }}

{{ define "title" }}{{ T "authorization.ciba.title" }}{{ end }}

{{ define "content" }}
  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <h3 class="header">{{ T "authorization.ciba.title" }}</h3>

    <div class="content" id="main-content">

      {{ if .Data.LoginHint }}
        {{ if (eq (len .Data.Requests) 0) }}
          <p>{{ T "authorization.ciba.no_authentication_requests" }} <b>{{ .Data.LoginHint }}</b>.</p>
          <p>{{ T "authorization.ciba.info" }}</p>
        {{ else }}
          {{ range .Data.Requests }}
            <form action="?action=process" method="post">
              <div id="request-{{ .LoginID }}">
                <h6>{{ T "authorization.ciba.welcome" }} <b>{{ .UserIdentifier }}</b>,</h6>

                <p><b>{{ .ClientInfo.Name }}</b> {{ T "authorization.ciba.access_for_permission" }}:</p>

                <ul class="scopes-list">
                  {{ range .RequestedScopes }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>

                {{ if .BindingMessage }}
                  <p>{{ .BindingMessage }}</p>
                {{ end }}

                <input type="hidden" name="login_id" id="login_id" value="{{ .LoginID }}">
                <input type="hidden" name="login_state" id="login_state" value="{{ .LoginState }}">

                <div class="buttons-container-full-width extra-top-margin">
                  <button type="submit" name="decision" value="deny" id="deny-button" class="text-button">
                    {{ T "authorization.ciba.deny" }}
                  </button>
                  <button type="submit" name="decision" value="allow" id="allow-button" class="submit-button">
                    {{ T "authorization.ciba.allow" }}
                  </button>
                </div>
              </div>
            </form>
          {{ end }}
        {{ end }}

      {{ else }}
        <form action="?action=list" method="post">
          {{ if .Data.Processed }}
            <p>{{ T "authorization.ciba.request_processed" }}</p>
          {{ end }}

          <p>{{ T "authorization.ciba.type_username" }}</p>

          <div class="form-field">
            <label for="text-field-login_hint">{{ T "authorization.ciba.login_hint" }} *</label>
            <input id="text-field-login_hint" name="login_hint" value="{{ .Data.LoginHint }}" required>
          </div>

          <button class="submit-button" type="submit" id="sign-in">Continue</button>
        </form>
      {{ end }}
    </div>
  </div>

{{ end }}
