{{ if eq .Data.Details.AddCredentials.Type "webauthn" }}{{ T "texts.add_credentials_with_code.message_passkey" (dict "Code" .Data.OTP.Code) }}{{ else }}{{ T "texts.add_credentials_with_code.message_credential" (dict "Code" .Data.OTP.Code) }}{{ end }}