{{ template "base" . }}

{{ define "title" }}{{ T "authorization.welcome.title" }}{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <h3 class="header">{{ T "authorization.welcome.welcome_to" }}</h3>

    <div class="content" id="main-content">
      <p>{{ T "authorization.welcome.find_out_how_to" }}</p>

      <a class="href-card" href="https://docs.authorization.cloudentity.com/howto/configure/tenants/" target="_blank" rel="noopener noreferrer">
        <div>
          <span class="href-card-avatar"><i class="material-icons">business</i></span>
          <span>{{ T "authorization.welcome.create_a_tenant" }}</span>
        </div>
        <i class="material-icons">navigate_next</i>
      </a>

      <div class="caption">
        {{ T "authorization.welcome.need_more" }} <a href="https://cloudentity.com/developers/" target="_blank" rel="noopener noreferrer">{{ T "authorization.welcome.documentation" }}</a>
      </div>
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}