{{ define "register_with_device" }}

  {{ template "identity_register_ux_improved_scripts" . }}

  <div class="steps-container">
    {{ T "identity.register.register_with_device.step" }} <b>2</b> {{ T "identity.register.register_with_device.of" }}
    <b>3</b>
  </div>

  <div class="setup-credential-header-container">
    <div>
      {{ if or .Data.DeviceAlreadyPaired (not .Data.DevicePairingInvitationQR)}}
        <h1>{{ T "identity.register.register_with_device.use" }}</h1>
      {{ else }}
        <h1 class="no-bottom-margin">{{ T "identity.register.register_with_device.set_up" }}</h1>
        <div class="header-bottom-info">{{ T "identity.register.register_with_device.install_app_info" }}</div>
      {{ end }}
    </div>
    {{ if .Data.Is2FAStep }}
      <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
    {{ end }}
  </div>

  <input id="from-view-input" name="from-view" type="text" value="pair_device" form="sign-up-form" hidden>

  <div class="form-field">
    <label for="entered-identifier">
      {{ T "identity.register.register_with_device.email_or_mobile" }}
    </label>
    <input id="entered-identifier" name="notused" autocomplete="off" data-lpignore="true" type="hidden"
           value="{{ .Data.EnteredIdentifier }}" disabled>
    <div class="username-div">{{ .Data.EnteredIdentifier }}</div>
  </div>

  {{ template "form" . }}

  {{ if .Data.DeviceAlreadyPaired}}

    <div class="buttons-container-full-width extra-top-margin flex-row-reverse">
      <button class="submit-button" type="submit" id="submit-next" name="action" value="submit" form="sign-up-form" {{ if .Data.CaptchaSiteKey }}disabled{{end}}>
        <span>{{ T "identity.register.register_with_device.continue" }}</span>
        <div class="non-visible">{{ template "loader" . }}</div>
      </button>

      <button type="submit" name="action" value="change_to_user" class="text-button" form="sign-up-form">
        {{ T "identity.register.register_with_device.back" }}
      </button>
    </div>

  {{ else }}

    {{ if .Data.DevicePairingInvitationQR }}
      <input type="hidden" name="pair_device" value="done" id="pair_device" form="sign-up-form">

      {{ template "qr_code_scan_device_pairing" . }}

      {{ template "faye_subscribe" dict "FayeURL" .Data.FayeURL "Nonce" .Nonce "FormId" "sign-up-form" "Channel" .Data.DevicePairingInvitationChannel }}

      <div class="buttons-container-full-width extra-top-margin flex-row-reverse">
        <button type="submit" name="action" value="change_to_user" class="text-button" form="sign-up-form">
          {{ T "identity.register.register_with_device.back" }}
        </button>
      </div>
    {{ else }}
      <div class="buttons-container-full-width extra-top-margin flex-row-reverse">
        <button class="submit-button" type="submit" id="submit-next" name="action" value="submit" form="sign-up-form" {{ if .Data.CaptchaSiteKey }}disabled{{end}}>
          <span>{{ T "identity.register.register_with_device.continue" }}</span>
          <div class="non-visible">{{ template "loader" . }}</div>
        </button>

        <button type="submit" name="action" value="change_to_user" class="text-button" form="sign-up-form">
          {{ T "identity.register.register_with_device.back" }}
        </button>
      </div>
    {{ end }}

  {{ end }}

  {{ template "allow_skip_2fa_in_register" . }}

  {{ if .Data.AuthnModeSwitch }}
    {{ template "register_methods" . }}
  {{ end }}

{{ end }}
