{{ define "register_with_password" }}

{{ template "password_visibility_script" . }}
{{ template "submit_button_disabling_script" . }}
{{ template "identity_register_ux_improved_scripts" . }}

<div class="steps-container">{{ T "identity.register.register_with_password.step" }} <b>2</b> {{ T "identity.register.register_with_password.of" }} <b>3</b></div>

<div class="setup-credential-header-container">
  <h1>{{ T "identity.register.register_with_password.set_up_password" }}</h1>
  {{ if .Data.Is2FAStep }}
    <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
  {{ end }}
</div>

<input id="from-view-input" name="from-view" type="text" value="password" form="sign-up-form" hidden>

<div class="form-field">
  <label for="entered-identifier">
    {{ T "identity.register.register_with_password.email_or_mobile" }}
  </label>
  <input id="entered-identifier" name="notused" autocomplete="off" data-lpignore="true" type="hidden" value="{{ .Data.EnteredIdentifier }}" disabled>
  <div class="username-div">{{ .Data.EnteredIdentifier }}</div>
</div>

<div class="form-field">
  <label for="text-field-password-input">
    <span id="password-label">{{ T "identity.register.register_with_password.password" }} *</span>
  </label>

  <div class="input-with-button">
    <input id="text-field-password-input" name="password" type="password" form="sign-up-form">
    <button id="toggle-password-visibility-button" type="button" aria-label="{{ T "identity.register.register_with_password.toggle_password_visibility" }}">
      <i id="toggle-password-visibility-icon" class="material-icons">visibility_off</i>
    </button>
  </div>

  {{ template "password_strength" . }}

  {{ range .Data.FormError.Errors }}
    {{ template "error_message" . }}
  {{ end }}

</div>

<div class="form-field">
  <label for="text-field-repeat-password-input">
    <span id="repeat-password-label">{{ T "identity.register.register_with_password.repeat_password" }} *</span>
  </label>

  <div class="input-with-button">
    <input id="text-field-repeat-password-input" name="repeatPassword" type="password" form="sign-up-form">
    <button id="toggle-repeat-password-visibility-button" type="button" aria-label="{{ T "identity.register.register_with_password.toggle_password_visibility" }}">
      <i id="toggle-repeat-password-visibility-icon" class="material-icons">visibility_off</i>
    </button>
  </div>
</div>

{{ template "form" . }}

<div class="buttons-container-full-width extra-top-margin flex-row-reverse">
  <button class="submit-button" type="submit" id="submit-next" name="action" value="submit" form="sign-up-form" {{ if .Data.CaptchaSiteKey }}disabled{{end}}>
    <span>{{ T "identity.register.register_with_password.continue" }}</span>
    <div class="non-visible">{{ template "loader" . }}</div>
  </button>

  <button type="submit" name="action" value="change_to_user" class="text-button" form="sign-up-form">
    {{ T "identity.register.register_with_password.back" }}
  </button>
</div>
{{ template "allow_skip_2fa_in_register" . }}

{{ if .Data.AuthnModeSwitch }}
    {{ template "register_methods" . }}
{{ end }}

{{ end }}
