{{ define "registration_not_allowed" }}

{{ template "identity_register_ux_improved_scripts" . }}

<h1 class="no-bottom-margin">{{ T "identity.register.registration_not_allowed.registration_not_allowed" }}</h1>
<h3 class="no-bottom-margin">{{ T "identity.register.registration_not_allowed.info" }}</h3>

{{ end }}