{{ define "authn_qr_code_scan" }}

  <div class="log-in-header-container">
    <h1 id="log-in-header">
      {{ T "identity.login.authn_mode_qr_code.log_in" }}
    </h1>
    {{ if .Data.Is2FAStep }}
      <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor icon" class="icon-2fa"/>
    {{ end }}
  </div>

  {{ template "qr_code_scan_auth" . }}

  {{ template "no_access_to_device" . }}

  {{ template "reduce_mfa_prompts" . }}

  {{ if .Data.AuthnModeSwitch }}
    {{ template "authn_methods" . }}
  {{ end }}

  <input type="checkbox" name="qrCodeMode" id="qrCodeMode" checked class="non-visible">
  <input id="original-identifier-input" type="hidden" name="identifier" value="{{ .Data.Identifier }}">

  {{ template "faye_subscribe" dict "FayeURL" .Data.FayeURL "Nonce" .Nonce "FormId" "sign-in-form" "Channel" .Data.Channel }}

  <div class="non-visible" id="version" data-version="identity-pool-login"></div>
{{ end }}