{{ define "authn_use_otp_alternative" }}

  <h2 id="log-in-header">Provide alternative</h2>

  <div class="form-field">
    <label for="text-field-username-input" class="label-with-link">
    {{ if eq .Data.OtpMode "email" }}
        <span id="username-label">Email</span>
    {{ else if eq .Data.OtpMode "sms" }}
        <span id="username-label">Mobile</span>
    {{ else }}
        <span id="username-label">Email | Mobile</span>
    {{ end }}
    </label>
    <input id="text-field-username-input" name="destination_address" value="{{ .Data.ResolvedDestinationAddress }}">
  </div>

  <input id="original-identifier-input" type="hidden" name="identifier" value="{{ .Data.Identifier }}">

  {{ template "reduce_mfa_prompts" . }}

  <div class="buttons-container-full-width flex-row-reverse">
    <button class="contained-button" type="submit" name="action" value="send_{{ if (not (eq .Data.OtpMode "" ))}}{{ .Data.OtpMode }}_{{ end }}otp" id="send-code-button">Continue</button>
    <button class="text-button" type="submit" name="action" value="change_to_{{ if (not (eq .Data.OtpMode "" ))}}{{ .Data.OtpMode }}_{{ end }}otp_verify" id="back-to-verify-otp">Back</button>
  </div>
  <br />

  {{ if .Data.AuthnModeSwitch }}
      {{ template "authn_methods" . }}
  {{ end }}

{{ end }}
