{{ define "authn_qr_code_push_wait" }}

  <div class="notification-container" id="code-sent-notification">
    <i class="material-icons">send</i>
    <span>{{ T "identity.login.authn_mode_push.sent" }}</span>
  </div>

  <div class="log-in-header-container">
    <h1 id="log-in-header">
      {{ T "identity.login.authn_mode_push.confirm" }}
    </h1>
    {{ if .Data.Is2FAStep }}
      <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor icon" class="icon-2fa"/>
    {{ end }}
  </div>

  <div class="push-loader-container">
      {{ template "lottie_player" dict "Nonce" .Nonce "Assets" .Config.Assets "Src" "loader-push.json" }}
      <div class="loader-text">{{ T "identity.login.authn_mode_push.waiting_for_approval" }}</div>
  </div>

  {{ if .Data.IsSelfResetCredentialsAllowed }}
      <div class="push-no-access-container">
          <span class="no-access-text">{{ T "identity.login.authn_mode_push.no_access_to_device" }}</span>
          <a href="{{ .Data.PairNewDevicePath }}" id="no-access-to-device" class="input-above-link" tabindex="0">{{ T "identity.login.authn_mode_push.pair_new_device" }}</a>
      </div>
  {{ end }}

  {{ template "reduce_mfa_prompts" . }}

  {{ if .Data.AuthnModeSwitch }}
    {{ template "authn_methods" . }}
  {{ end }}

  <input type="checkbox" name="qrCodePushMode" id="qrCodePushMode" checked class="non-visible">
  <input id="original-identifier-input" type="hidden" name="identifier" value="{{ .Data.Identifier }}">

  {{ template "faye_subscribe" dict "Nonce" .Nonce "FayeURL" .Data.FayeURL "FormId" "sign-in-form" "Channel" .Data.Channel }}

  <div class="non-visible" id="version" data-version="identity-pool-login"></div>
{{ end }}