{{ define "authn_arculix" }}

    <div class="log-in-header-container">
        <h2 id="log-in-header">Log in with Arculix</h2>
        {{ if .Data.Is2FAStep }}
            <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="icon" class="icon-2fa"/>
        {{ end }}
    </div>

    {{ if not .Data.FormError.Errors }}
      <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
      {{ if .Data.ArculixPairQR }}
        <img src="data:image/png;base64, {{ .Data.ArculixPairQR }}" />
      {{ else }}
        <span class="loader"></span>
      {{ end }}
      </div>
    {{ else }}
      <a href="?login_id={{ .Data.SessionID }}&login_state={{ .Data.SessionState }}&server_id={{ .Data.ServerID }}" class="submit-button">
        Retry
      </a>
    {{ end}}

    {{ if .Data.AuthnModeSwitch }}
        {{ template "authn_methods" . }}
    {{ end }}

    <input type="checkbox" name="arculixMode" id="arculixMode" checked class="non-visible">
    <input type="hidden" name="arculixChannel" value="{{ .Data.ArculixChannel }}" id="arculixChannel">
    <input type="hidden" name="authn_mode" value="arculix_view" id="authnView-input">

    <script src="{{ .Data.ArculixFayeURL }}/faye/faye.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/JavaScript">
      $(function() {
          var faye = new Faye.Client("{{ .Data.ArculixFayeURL }}/faye");
          var form = document.getElementById("sign-in-form");
          faye.subscribe("/messages/{{ .Data.ArculixChannel }}", function (data) {
              {{/* after pairing reload the page to restart the authentication flow */}}
              {{ if .Data.ArculixPairQR }}
              window.location.reload();
              {{ else }}
              form.submit();
              {{ end }}
          });
      });
    </script>

{{ end }}