{{ template "base" . }}

{{ define "title" }}{{ T "identity.complete_device_pairing.title" }}{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">

      <div class="setup-credential-header-container">
        <div>
          <h1 class="no-bottom-margin">{{ T "identity.activate.pair_device.set_up" }}</h1>
          <div class="header-bottom-info">{{ T "identity.activate.pair_device.install_app_info" }}</div>
        </div>
      </div>

      <form id="complete-device-pairing" action="?login_id={{ .Data.SessionID }}&login_state={{ .Data.SessionState }}&server_id={{ .Data.ServerID }}&mode={{ .Data.Mode }}&view={{ .Data.DeviceAuthnView }}" method="post">

        <input type="hidden" name="pair_device" value="done" id="pair_device" form="complete-device-pairing">

        {{ if .Data.DevicePairingInvitationQR }}
          {{ template "qr_code_scan_device_pairing" . }}
        {{ else }}
          <span class="loader"></span>
        {{ end }}
      </form>
    </div>
  </div>

  {{ template "faye_subscribe" dict "FayeURL" .Data.FayeURL "Nonce" .Nonce "FormId" "complete-device-pairing" "Channel" .Data.DevicePairingInvitationChannel }}


  {{ template "footer" . }}
{{ end }}
