{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">{{ T "emails.address_verification_with_link.heading" }}</div>
<div class="main-text">{{ T "emails.address_verification_with_link.body" }}</div>
<div class="link-container">
	<a href="{{ .Data.OTP.Link }}" rel="noopener noreferrer">{{ T "emails.address_verification_with_link.button" }}</a>
</div>
<div class="helper-link-container">
{{ T "emails.address_verification_with_link.link_alternative" }}
<div class="link-container-box">{{ .Data.OTP.Link }}</div>
</div>

{{ end }}