{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">
{{ T "emails.activate_account_with_link.heading" }}
    {{ if .Data.AccountType }}
        <b> {{ T "emails.activate_account_with_link.body_with_type" (dict "AccountType" .Data.AccountType) }}</b>
    {{ else }}
        <b> {{ T "emails.activate_account_with_link.body" }}</b>
    {{ end }}
</div>
<div class="main-text">{{ T "emails.activate_account_with_link.just_one_more_step" }}</div>
<div class="link-container">
	<a href="{{ .Data.OTP.Link }}" rel="noopener noreferrer">{{ T "emails.activate_account_with_link.button" }}</a>
</div>
<div class="helper-link-container">
{{ T "emails.activate_account_with_link.link_alternative" }}
<div class="link-container-box">{{ .Data.OTP.Link }}</div>
</div>

<div class="caption content-caption">
{{ T "emails.activate_account_with_link.footer_info" }}
</div>
{{ end }}