{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">
{{ T "emails.activate_account_with_code.heading" }}
<b>{{ T "emails.activate_account_with_code.body" }}</b>
</div>
<div class="main-text">{{ T "emails.activate_account_with_code.instruction" }}</div>
<div class="code-container">{{ .Data.OTP.Code }}</div>

<div class="caption">
    {{ T "emails.activate_account_with_code.alternative_activation_instruction" }}
    <a href="{{ .Data.OTP.Link }}" rel="noopener noreferrer">{{ T "emails.activate_account_with_code.alternative_activation_link" }}</a>
</div>

<div class="caption content-caption">
    <div>{{ T "emails.activate_account_with_code.footer_info" }}</div>
    <div>{{ T "emails.activate_account_with_code.footer_warning" }}</div>
</div>
{{ end }}