{{ define "allow_skip_2fa_in_activate" }}

    {{ if .Data.AllowToSkip }}
        <button class="text-button" type="submit" id="skip-button" name="action" value="skip">Set up later</button>
    {{ end }}

{{ end }}