{{ template "base" . }}

{{ define "title" }}{{ T "authorization.demo.index.title" }}{{ end }}

{{ define "content" }}
  {{ template "demo_scripts" . }}

  {{ if .Data.FlowCompleted }}
      {{ if .Data.OrganizationID }}
        {{ template "demo-sample-startup-app" . }}
      {{ else }}
        {{ template "demo-claims-and-tokens" . }}
      {{ end }}
  {{ else }}
    <div class="header-container">
      {{ template "header" .Config }}
    </div>

    <div class="card">

      <h1 class="header">{{ T "authorization.demo.index.oauth2_demo" }} {{ .flow }} {{ T "authorization.demo.index.application" }}</h1>

      {{ if eq .Data.Flow "device" }}
        {{ template "demo-unauthorized" . }}
      {{ else }}
        {{ template "demo-login" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}