{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">{{ T "emails.identifier_used.heading" }}</div>
<div class="main-text">{{ T "emails.identifier_used.body" }}</div>

{{ end }}