{{ template "base" . }}

{{ define "title" }}{{ T "identity.initiate_device_pairing.title" }}{{ end }}

{{ define "content" }}

  {{ if .Data.DevicePairingInvitationQR }}
    {{ template "present_qr_invitation" . }}
  {{ else }}
    {{ template "initiate_pairing" . }}
  {{ end }}

{{ end }}
