{{ if eq .Data.Details.AddCredentials.Type "webauthn" }}{{ T "texts.add_credentials_with_link.message_passkey" (dict "Link" .Data.OTP.Link) }}{{ else }}{{ T "texts.add_credentials_with_link.message_credential" (dict "Link" .Data.OTP.Link) }}{{ end }}