{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">{{ T "emails.reset_credentials_with_code.heading" }}</div>
<div class="main-text">
{{ T "emails.reset_credentials_with_code.body" }}
</div>
<div class="main-text">
{{ T "emails.reset_credentials_with_code.instruction" }}
</div>
<div class="code-container">{{ .Data.OTP.Code }}</div>

<div class="caption content-caption">
{{ T "emails.reset_credentials_with_code.footer_warning" }}
</div>
{{ end }}