{{ define "consent_footer" }}

<div class="consent-footer">

  {{ if and .Data.Session.ClientInfo.PolicyURI .Data.Session.ClientInfo.TosURI }}
    {{ T "authorization.consent-connect-id.consent_footer.by_accepting" }} <a href="{{ .Data.Session.ClientInfo.PolicyURI }}" target="_blank">{{ T "authorization.consent-connect-id.consent_footer.privacy_policy" }}</a>
    {{ T "authorization.consent-connect-id.consent_footer.and" }} <a href="{{ .Data.Session.ClientInfo.TosURI }}" target="_blank">{{ T "authorization.consent-connect-id.consent_footer.terms_and_conditions" }}</a>.
  {{ else if and .Data.Session.ClientInfo.PolicyURI (not .Data.Session.ClientInfo.TosURI) }}
    {{ T "authorization.consent-connect-id.consent_footer.by_accepting" }} <a href="{{.Data.Session.ClientInfo.PolicyURI }}" target="_blank">{{ T "authorization.consent-connect-id.consent_footer.privacy_policy" }}</a>.
  {{ else if and (not .Data.Session.ClientInfo.PolicyURI) .Data.Session.ClientInfo.TosURI }}
    {{ T "authorization.consent-connect-id.consent_footer.by_accepting" }} <a href="{{ .Data.Session.ClientInfo.TosURI }}" target="_blank">{{ T "authorization.consent-connect-id.consent_footer.terms_and_conditions" }}</a>.
  {{ end }}
</div>

<div class="buttons-container-full-width extra-top-margin">
  <button class="text-button" type="submit" name="action" value="deny">{{ T "authorization.consent-connect-id.consent_footer.cancel" }}</button>
  <button class="submit-button" type="submit" name="action" value="allow">{{ T "authorization.consent-connect-id.consent_footer.share_details" }}</button>
</div>

{{ end }}
