{{ template "base" . }}

{{ define "title" }} {{ T "identity.challenge_confirmed.challenge_confirmed" }} {{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">
      <h1>{{ T "identity.challenge_confirmed.success" }}!</h1>
      <div class="header-info">{{ T "identity.challenge_confirmed.challenge_confirmed" }}</div>
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
