{{ template "base" . }}

{{ define "title" }}SAML Demo Application{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <script nonce="{{.Config.Nonce}}">
  function toggleAdvanced() {
    var el = document.querySelector('#advanced');
    el.classList.contains('aut-hidden') ? el.classList.remove('aut-hidden') : el.classList.add('aut-hidden');
  }

  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', delegate('#advanced-button', toggleAdvanced));
  })
  </script>

  <div class="card" {{ if .Data.Response }} style="max-width: 90%" {{ end }}>
    <h3 class="header">{{ T "authorization.saml.test.title" }}</h3>

    <div class="content" id="saml-response-raw">
      {{ if .Data.Response  }}
        <pre>{{ .Data.Response }}</pre>
      {{ else }}
        <form action="?action=login" method="post">
          <button class="submit-button" type="submit" id="sign-in" style="margin-bottom: 16px;">
            {{ T "authorization.saml.test.log_in_to_demo_app" }}
          </button>

          <button id="advanced-button" class="text-button full-width" type="button">
            {{ T "authorization.saml.test.configuration" }}
          </button>

          <div class="aut-hidden" id="advanced" style="margin-top: 16px;">
            <div class="form-field">
              <label>{{ T "authorization.saml.test.subject_name_id" }}</label>
              <input name="subject-name-id">
            </div>
            <div class="form-field">
              <label>{{ T "authorization.saml.test.idp_id" }}</label>
              <input name="idp-id">
            </div>
          </div>
        </form>
      {{ end }}
    </div>
  </div>

  {{ template "footer" . }}

{{ end }}%