{{ define "login_admin_tabs" }}

<div class="tabs-container" role="tablist" aria-label="Admin login tabs">
  <button id="sign-in-tab" role="tab" data-tabid="sign-in" class="tab-button tab-button-active">
    <i class="material-icons">person_outline</i>
    {{ T "authorization.login.login_admin_tabs.admin_sign_in" }}
  </button>

  <button id="quick-access-tab" role="tab" data-tabid="quick-access" class="tab-button">
    <i class="material-icons">turned_in_not</i>
    {{ T "authorization.login.login_admin_tabs.quick_access" }}
  </button>
</div>

{{ end }}
