{{ define "login_admin_quick_access" }}

<div id="quick-access" class="non-visible">
  <div class="quick-access-content">
    {{ if .Data.ServersWithQuickAccessByType.developer }}
      <div>
        <h1 id="developer-portals">{{ T "authorization.login.login_admin_quick_access.developer_portals" }}</h1>

        {{ range .Data.ServersWithQuickAccessByType.developer }}
          <a class="href-card" id="developer-portal-card-{{ .ID }}" target="_blank" href="{{ .IssuerURL }}/app">
            <div>
              <span class="href-card-avatar href-card-avatar-color">{{ substr 0 1 .Name }}</span>
              <span>{{ .Name }}</span>
            </div>
            <i class="material-icons">open_in_new</i>
          </a>
        {{ end }}
      </div>
    {{ end }}

    {{ if .Data.ServersWithQuickAccessByType.regular }}
      <div>
        <h1 id="user-consent-portals">{{ T "authorization.login.login_admin_quick_access.user_consent_portals" }}</h1>

        {{ range .Data.ServersWithQuickAccessByType.regular }}
          <a class="href-card" id="user-portal-card-{{ .ID }}" target="_blank" href="{{ .IssuerURL }}/app">
            <div>
              <span class="href-card-avatar href-card-avatar-color">{{ substr 0 1 .Name }}</span>
              <span>{{ .Name }}</span>
            </div>
            <i class="material-icons">open_in_new</i>
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>

  <div class="quick-access-info">
    {{ T "authorization.login.login_admin_quick_access.quick_access_info" }}
    <a href="https://docs.authorization.cloudentity.com/features/portals/log-in-page/" target="_blank" rel="noopener noreferrer">{{ T "authorization.login.login_admin_quick_access.learn_more" }}</a>
  </div>
</div>

{{ end }}
