{{ template "base" . }}

{{ define "title" }}{{ T "identity.reset_credentials_confirmed.title" }}{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">
      <h1>{{ T "identity.reset_credentials_confirmed.success" }}!</h1>
      <div class="header-info">{{ T "identity.reset_credentials_confirmed.info" }} {{ if eq .Data.CredentialType "webauthn"}}{{ T "identity.reset_credentials_confirmed.passkey" }}{{ else if eq .Data.CredentialType "totp" }}{{ T "identity.reset_credentials_confirmed.authenticator_app" }}{{ else }}{{ .Data.CredentialType }}{{ end }}.</div>

      {{ if .Data.LoginPath}}
        <a href="{{ .Data.LoginPath }}">
          <button class="submit-button" id="sign-in">{{ T "identity.reset_credentials_confirmed.sign_in" }}</button>
        </a>
      {{ end }}
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
