{{ define "credential_setup_unavailable" }}

<div class="setup-credential-header-container">
  <h1 class="no-bottom-margin">{{ T "identity.activate.credential_setup_unavailable.title" }}</h1>
  {{ if .Data.Is2FAStep }}
    <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
  {{ end }}
</div>
<h3 class="no-bottom-margin">{{ T "identity.activate.credential_setup_unavailable.info" }}</h3>

{{ end }}
