{{ define "faye_subscribe" }}
  <script nonce="{{ .Nonce }}" src="{{ .FayeURL }}/faye/faye.js"></script>
  <script nonce="{{ .Nonce }}">
    document.addEventListener("DOMContentLoaded", function () {
      var faye = new Faye.Client("{{ .FayeURL }}/faye");
      var form = document.getElementById("{{ .FormId }}");
      faye.subscribe("/messages/{{ .Channel }}", function (data) {
        if (form) {
          const input = document.createElement('input');
          input.type = 'hidden';
          input.name = 'action';
          input.value = 'submit';
          form.appendChild(input);
          form.submit();
        }
      });
    });
  </script>
{{ end }}
