{{ define "header" }}

<div class="aut-banner-logo">
  {{ if eq .Styling.LogoURL "/static/images/no-logo.svg" }}
  {{ else if .Styling.LogoURL }}
    <img src="{{ .Styling.LogoURL }}" alt="Logo" crossorigin="anonymous">
  {{ else }}
    <img src="{{ .Root }}/static/images/sa-logo-white.svg" alt="SecureAuth" />
  {{ end }}
</div>

{{ end }}
