{{ define "lottie_player" }}
  <script nonce="{{ .Nonce }}" src="{{ .Assets }}/static/lottie-player.js"></script>
  <lottie-player
    src="{{ .Assets }}/static/animations/{{ .Src }}"
    background="transparent"
    speed="1"
    style="width: 60px; height: 60px;"
    loop
    autoplay>
  </lottie-player>
{{ end }}
