{{ define "qr_code_scan_device_pairing" }}
  <div class="qr-code-download-text">{{ T "identity.login.authn_mode_qr_code.download_from_app_store" }}</div>
  <div class="qr-code-app-links">
    <a href="https://itunes.apple.com/us/app/secureauth-authenticate/id615536686" target="_blank" rel="noopener noreferrer">
      <img width="210" src="{{ .Config.Assets }}/static/images/app-store.svg" alt="Download on App Store"/>
    </a>
    <a href="https://play.google.com/store/apps/details?id=secureauth.android.token&hl=en" target="_blank" rel="noopener noreferrer">
      <img width="210" src="{{ .Config.Assets }}/static/images/google-play.svg" alt="Get it on Google Play"/>
    </a>
  </div>
  <div class="qr-code-scan-container">
    <h4 class="qr-code-instruction">{{ T "identity.login.authn_mode_qr_code.scan_instruction" }}</h4>
    <div class="qr-code-image-wrapper">
      <img src="data:image/png;base64, {{ .Data.DevicePairingInvitationQR }}" alt="QR Code"/>
    </div>
  </div>
{{ end }}

{{ define "qr_code_scan_auth" }}
  <div class="qr-code-scan-container">
    <h4 class="qr-code-instruction">{{ T "identity.login.authn_mode_qr_code.scan_instruction" }}</h4>
    <div class="qr-code-image-wrapper">
      <img src="data:image/png;base64, {{ .Data.AuthenticationQRCode }}" alt="QR Code"/>
    </div>
  </div>
{{ end }}
