{{ define "turnstile" }}

    {{ if .Data.TurnstileSiteKey }}
        <style>
            .turnstile-container {
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: absolute;
            }

            .turnstile-container.visible {
                position: relative;
                width: 100%;
            }

            .cf-turnstile {
                width: 100%;
            }
        </style>

        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" nonce="{{.Config.Nonce}}" async defer></script>

        <div class="turnstile-container">
            <div
                class="cf-turnstile"
                data-theme="light"
                data-size="flexible"
                data-appearance="interaction-only"
                data-sitekey="{{ .Data.TurnstileSiteKey }}"
                data-callback="handleTurnstileSuccess"
                data-error-callback="handleTurnstileError"
                data-before-interactive-callback="handleTurnstileBeforeInteractive"
                data-after-interactive-callback="handleTurnstileAfterInteractive"
            ></div>
        </div>

        <script nonce="{{.Config.Nonce}}">
          document.addEventListener("DOMContentLoaded", setupTurnstileListeners);

          let turnstileState = {
            isTurnstileChecked: false,
            isTurnstileRequired: !!document.querySelector(".cf-turnstile"),
            interactive: false,
            turnstileInterval: null,
            buttonText: "",
          };

          function handleTurnstileError() {
            clearInterval(turnstileState.turnstileInterval);
            var confirmButton = document.querySelector("#submit-next");
            confirmButton.innerHTML = turnstileState.buttonText;

            var turnstileContainer = document.querySelector(".turnstile-container");
            if (!turnstileContainer) {
              console.error("Captcha content container not found");
              return;
            }

            // Remove existing error message if present
            var existingError = turnstileContainer.querySelector(".error-container");
            if (!existingError) {
              existingError = document.createElement("small");
              existingError.classList.add("error-container");
              existingError.style.margin = "0";
              turnstileContainer.appendChild(existingError);
            }

            // Update error message
            existingError.textContent = "Captcha verification failed";
          }

          function handleTurnstileSuccess() {
            turnstileState.isTurnstileChecked = true;

            clearErrors();
          }

          function clearErrors() {
            var turnstileContainer = document.querySelector(".turnstile-container");
            if (turnstileContainer) {
              var existingErrors = turnstileContainer.querySelectorAll(".error-container");
              if (existingErrors.length > 0) {
                existingErrors.forEach(err => err.remove());
              }
            }
          }

          function handleTurnstileBeforeInteractive() {
            var turnstileContainer = document.querySelector(".turnstile-container");
            turnstileContainer.classList.add("visible");
            clearInterval(turnstileState.turnstileInterval);
            turnstileState.interactive = true;

            var confirmButton = document.querySelector("#submit-next");
            var loadingButton = confirmButton.querySelector(".dots-loader");
            if (loadingButton) {
              confirmButton.innerHTML = turnstileState.buttonText;
              confirmButton.removeAttribute("disabled");
            }
          }

          function handleTurnstileAfterInteractive() {
            turnstileState.interactive = false;
          }

          function setupTurnstileListeners() {
            var confirmButton = document.querySelector("#submit-next");
            turnstileState.buttonText = confirmButton.innerHTML;

            if (confirmButton) {
              confirmButton.addEventListener("click", (e) => {
                // Clear existing captcha error
                clearErrors();

                if (turnstileState.isTurnstileRequired && !turnstileState.isTurnstileChecked) {
                  e.preventDefault();

                  if (turnstileState.interactive) {
                    var err = document.createElement("div");
                    err.setAttribute("class", "error-container");
                    err.innerText = "Please complete the captcha challenge";
                    var turnstileContainer = document.querySelector(".turnstile-container");
                    if (turnstileContainer) {
                      turnstileContainer.append(err);
                    }
                    return;
                  }

                  confirmButton.innerHTML =
                    `<div style="margin-right: 8px;">{{ template "loader" . }}</div>` + turnstileState.buttonText;
                  confirmButton.setAttribute("disabled", "disabled");

                  turnstileState.turnstileInterval = setInterval(() => {
                    if (turnstileState.isTurnstileChecked) {
                      clearInterval(turnstileState.turnstileInterval);
                      confirmButton.innerHTML = turnstileState.buttonText;
                      confirmButton.removeAttribute("disabled");
                      // Submit the parent form directly to avoid recursive click
                      var parentForm = confirmButton.closest("form");
                      if (parentForm) {
                        parentForm.submit();
                      }
                    }
                  }, 500);
                }
              });
            }
          }
        </script>
    {{ end }}

{{ end }}