<Response>
  <Say>{{ T "voices.otp.message_prefix" }} <say-as interpret-as="digits">{{ .Data.OTP.Code }}</say-as>.</Say>
  <Pause length="2"/>
  <Say>{{ T "voices.otp.message_prefix" }} <say-as interpret-as="digits">{{ .Data.OTP.Code }}</say-as>.</Say>
</Response>
