{{ template "base" . }}

{{ define "title" }}
  {{ if .Data.LoggedOutPage }}
    {{ T "authorization.logout.logged_out" }}
  {{ else }}
    {{ T "authorization.logout.logout_consent" }}
  {{ end }}
{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">

    {{ if .Data.LoggedOutPage }}
      <h1 class="header logged-out">{{ T "authorization.logout.you_have_logged_out" }}</h1>
    {{ else }}
      <h1 class="margin-bottom-16">{{ T "authorization.logout.would_you_like_to_logout" }}</h1>

      <div class="login-welcome-back-card">
        <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="welcome back image"/>
        <div>
          <div class="login-welcome-back-card-name">
            {{ T "authorization.logout.current_session" }}
          </div>
          <div class="login-welcome-back-card-email">
            {{ or .Data.SSOSession.AuthenticationContext.name .Data.SSOSession.Subject }}
          </div>
          <div class="login-welcome-back-card-email">
            {{ or .Data.SSOSession.AuthenticationContext.email .Data.SSOSession.Subject }}
          </div>
        </div>
      </div>

      <form action="{{ .Data.LogoutAPIURL }}" method="post">
        <div class="buttons-container-full-width extra-top-margin">
          <button type="submit" class="text-button" name="action" value="deny">
            {{ T "authorization.logout.no" }}
          </button>
          <button type="submit" class="submit-button" name="action" value="explicit">
            {{ T "authorization.logout.yes" }}
          </button>
        </div>
      </form>
    {{ end }}

    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
